.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.elements {
  padding: 20px;
  font-size: larger;
  margin: 30px;
  border-radius: 5px;
  font-weight: bolder;
  transition: 0.3s;
  height: 180px;
  width: 210px;
  display: flex;
  background-color: #19191f;
  justify-content: center;
}

.elements:hover {
  transform: scale(1.05);
}

.icon {
  height: 50px;
  width: 50px;
}

.header {
  margin-top: 130px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.Experience {
  background-color: #19191F;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #FF0000;
  display: flex;
  width: 370px;
  margin-top: 50px;
  margin-left: 25%;
}

@media screen and (max-width: 600px) {
  .Experience {
    margin-left: 15%;

  }
}

@media screen and (max-width: 500px) {
  .Experience {
    margin-left: 10%;

  }
}

@media screen and (max-width: 429px) {
  .Experience {
    margin-left: 3%;

  }
}

.Experience p {
  margin-left: 30px;
  margin-top: 6px;
}
