.content {
  color: aliceblue;
  margin-top: 170px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.items {
  margin: 30px;
  border-radius: 7px;
  border: 1px solid white;
  transition: 0.2s;
}

.items:hover {
  border: 1px solid #818181;
  transform: scale(1.02);
}

.items p {
  display: flex;
  justify-content: center;
  width: 190px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 20px;
}

.Image {
  position: absolute;
  margin-top: -237px;
  margin-left: 67px;

}

.Laptop {
  margin-left: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  aspect-ratio: 13/15;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.buttonTry {
  margin-bottom: 20px;
  background-color: #a81a1a;
  padding: 7px;
  width: 88px;
  border-radius: 5px;
  box-shadow: 0 0 1px #ff0000, 0 0 1px #e40000, 0 0 2px #ff0000, 0 0 3px #f50808,
    0 0 4px #ffd3d3, 0 0 6px white;
  transition: 0.3s;
}

.buttonTry:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #ffa8a8, 0 0 3px #e40000, 0 0 4px #ff0000, 0 0 5px #ff6868,
    0 0 6px #ffabab, 0 0 7px white;
}

.programmingLanguagesElement {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.programmingLanguages {
  background-color: #19191F;
  display: flex;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-right: 8px;
}

.github {
  display: flex;
  justify-content: center;
}

.githubElement {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.githubButton {
  background-color: #26272c;
  box-shadow: 0 0 1px #303030, 0 0 1px rgb(66, 66, 66), 0 0 2px #7c7c7c,
    0 0 3px #9b9b9b, 0 0 4px #ffd3d3, 0 0 6px white;
  width: 88px;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  margin-bottom: 20px;
  transition: 0.3s;
}

.infoButton {
  background-color: #26272c;
  box-shadow: 0 0 1px #303030, 0 0 1px rgb(66, 66, 66), 0 0 2px #7c7c7c,
  0 0 3px #9b9b9b, 0 0 4px #ffd3d3, 0 0 6px white;
  width: 88px;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  margin-bottom: 20px;
  transition: 0.3s;
}

.infoButton:hover {
    transform: scale(1.05);
    box-shadow: 0 0 2px #303030, 0 0 3px rgb(66, 66, 66), 0 0 4px #7c7c7c,
        0 0 5px #9b9b9b, 0 0 7px #ffd3d3, 0 0 8px white;

}

.githubButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px #303030, 0 0 3px rgb(66, 66, 66), 0 0 4px #7c7c7c,
    0 0 5px #9b9b9b, 0 0 7px #ffd3d3, 0 0 8px white;
}

.warn {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.warn p {
  font-size: 16px;
  width: 200px;
  border: 2px solid black;
  background-color: rgb(34, 34, 34);
}

.warn span {
  background: linear-gradient(to right, #fb0000, #cacaca);
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
