.content {
  color: aliceblue;
  margin-top: 170px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items {
  margin: 30px;
  border-radius: 7px;
  box-shadow: 0 0 2px #19191f, 0 0 4px #19191f, 0 0 6px #19191f, 0 0 4px #19191f,
    0 0 8px #19191f, 0 0 10px white;
}

.items p {
  display: flex;
  justify-content: center;
  width: 190px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #a81a1a;
}

.Image {
  margin-left: 45px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.buttonTry {
  margin-left: 105px;
  margin-bottom: 30px;
  background-color: #a81a1a;
  padding: 6px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}
