.portfoliotext {
  font-size: 1.4em;
  color: #cccccc;
}

.hello {
  margin-left: 20%;
  margin-top: 205px;
  color: #ffffff;
  display: flex;
  justify-self: space-between;
}

.fabiustext {
  margin-bottom: 5px;
  font-size: 2.4em;
}

.intern {
  margin-top: 40px;
}

.internText {
  font-size: 1.4em;
  background: linear-gradient(to right, #fb0000, #9d9d9d);
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.picturecontainer {
  margin-right: 25%;
}

.content {
  width: 80%;
}

.About div {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.AboutHead {
  margin-top: 130px;
}

.AboutContent {
  margin-top: 30px;
  color: #ffffff;
}

.About h1 {
  font-size: 1.5em;
  color: #dbdbdb;
}

.About div p {
  width: 48%;
  font-size: 1.1em;
}

.About div p span {
  background: linear-gradient(to right, #fb0000, #cacaca);
  background-position: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  .picturecontainer {
    display: none;
  }

  .AboutHead {
    margin-top: 100px;
  }

  .About div p {
    width: 80%;
    font-size: 1.1em;
  }
}
