.navelement {
  background-color: #19191f;
}

.navbar a {
  margin-right: 50px;
  font-size: 1.2em;
  transition: 0.4s;
  padding: 10px;
  border-radius: 4px;
}

.navelement:hover {
  background-color: #3d3d3d;
}

.icons {
  margin-top: 3px;
  border-radius: 9px;
  padding: 5px;
  margin-left: 7px;
}

.icons:hover {
  cursor: pointer;
}

.IconDiv {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.IconDiv h1 {
  color: #a81a1a;
  font-weight: bolder;
  font-size: 30px;
}

.OverLay {
  border-bottom: 2px solid #999999;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #000000;
}

.Icon {
  height: 40px;
  width: 40px;
  right: 10px;
}

.Cross {
  height: 30px;
  width: 30px;
  margin-right: 6px;
  margin-top: 3px;
}

.menu {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
}

.menu div {
  display: block;
  width: 100%;
}

.all {
  font-size: large;
  border-top: 1px solid #464646;
  padding: 19px;
  background-color: #19191f;
}

.navbar {
  padding: 20px;
  height: 85px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #000000;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #4b4b4b;
  z-index: 99;
}

.navelement div {
  display: flex;
}

.img {
  height: 20px;
  width: 20px;
  margin-top: 3px;
  margin-right: 5px;
}

.navelement p {
  margin-left: 7px;
}

.homebutton {
  margin-top: 80px;
  display: none;
  position: absolute;
  background-color: #8d8d8d;
  height: 55px;
  width: 80%;
  padding-top: 18px;
  justify-content: center;
  font-size: 1.1em;
  transition: 0.3s;
  margin-right: 10%;
  border-radius: 9px;
  color: #000000;
}

.skillbarbutton {
  margin-top: 290px;
  display: none;
  position: absolute;
  background-color: #8d8d8d;
  height: 55px;
  width: 80%;
  padding-top: 18px;
  justify-content: center;
  font-size: 1.1em;
  transition: 0.3s;
  margin-right: 10%;
  border-radius: 9px;
  color: #000000;
}

.projectbutton {
  margin-top: 150px;
  display: none;
  position: absolute;
  background-color: #8d8d8d;
  height: 55px;
  width: 80%;
  padding-top: 18px;
  justify-content: center;
  font-size: 1.1em;
  transition: 0.3s;
  margin-right: 10%;
  border-radius: 9px;
  color: #000000;
}

.contactbutton {
  margin-top: 220px;
  display: none;
  position: absolute;
  background-color: #8d8d8d;
  height: 55px;
  width: 80%;
  padding-top: 18px;
  justify-content: center;
  font-size: 1.1em;
  transition: 0.3s;
  margin-right: 10%;
  border-radius: 9px;
  color: #000000;
}

.views {
  cursor: default;
}

.views2 {
  display: none;
  position: absolute;
  margin-top: 20px;
  left: 10%;
  width: 110px;
}

@media screen and (max-width: 1020px) {
  .navbar {
    display: none;
  }

  .navcenter {
    display: flex;
    justify-content: end;
  }
}

@media screen and (min-width: 1021px) {
  .OverLay {
    display: none;
  }
}
